body{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}


header{
  position:fixed;
  top:0;
  left:0;
  height:80px;
  width:100%;
  background-color:#fff;
  
}


.waffleimage{
    margin-top: 10px;
    margin-left: 10px;
    float:left; 
}


.headermenu ul{
    text-align: right;
    margin-right: 50px;
}


.headermenu li{
    display: inline-block;
    list-style: none ;
    margin-top: 12px;
    margin-left: 20px;
    font-size: 20px;
}

.headermenu a{
    text-decoration: none;
    color:#5a544b ;
}
.headermenu a:hover {
    color: #ee9ca7;
  }




.menu a{
    text-decoration: none;
    color:#5a544b ;
}
.menu a:hover {
    color: #ee9ca7;
  }
 
.menu ul{
    margin-top: 200px;  
}


.menu li{
    display: inline-block;
    list-style: none ;
    margin-left: 180px;
    font-size: 30px;
}






.menu1{
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:10px;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.menu2{
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:10px;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}
.menu3{
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:10px;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.menu4{
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom:20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:10px;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

footer{
   
  top:0;
  left:0;
  height:80px;
  width:100%;
  background-color:#fff;
  
}
.footer_ ul{
   
    float:right; 
}

.footer_ li{
    display: inline-block;
    list-style: none ;
    margin-top: 20px;
    margin-left: 140px;
    font-size: 15px;
}

.sns{
    margin-right: 150px;
    margin-top: 20px;
}
.sample {
  height: 4000px;
  width: 1280px;
  background: linear-gradient(
    213deg,
    rgba(249, 188, 164, 0.64) 5%,
    rgba(155, 210, 204, 0.64) 35%,
    rgba(251, 204, 159, 0.64) 65%,
    rgba(255, 204, 191, 0.64) 94%
  );
}

.circle_1 {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  border: solid 0.3px rgba(163, 163, 163, 0.4);
  margin-left: -300px;
}

.circle_2 {
  width: 590px;
  height: 590px;
  border-radius: 50%;
  border: solid 0.4px rgb(163, 163, 163, 0.4);
  margin-left: 800px;
  margin-top: 120px;
}

.circle_3 {
  width: 590px;
  height: 590px;
  border-radius: 50%;
  border: solid 0.4px rgba(163, 163, 163, 0.4);
  margin-left: 600px;
  margin-top: -270px;
}
.circle_4 {
  width: 890px;
  height: 890px;
  border-radius: 50%;
  border: solid 0.3px rgba(163, 163, 163, 0.4);
  margin-left: -150px;
  margin-top: 200px;
}


/*==================================================
アコーディオンのためのcss
===================================*/

/*アコーディオン全体*/
.accordion-area{
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin:0 auto;
}

.accordion-area li{
  margin: 10px 0;
}

.accordion-area section {
border: 1px solid #ccc;
}

/*アコーディオンタイトル*/
.title {
  position: relative;/*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size:1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
  position: absolute;
  content:'';
  width: 15px;
  height: 2px;
  background-color: #333;
  
}
.title::before{
  top:48%;
  left: 15px;
  transform: rotate(0deg);
  
}
.title::after{    
  top:48%;
  left: 15px;
  transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/

.title.close::before{
transform: rotate(45deg);
}

.title.close::after{
transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;/*はじめは非表示*/
  background: #f3f3f3;
margin:0 3% 3% 3%;
  padding: 3%;
}


/*========= レイアウトのためのCSS ===============*/

h2{
  text-align: center;
  margin: 30px 0;
  font-size:1rem;
}