@charset "utf-8";

@media screen and (min-width: 960px) {
  html {
    height: 100%;
  }

  body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #333;
  }

  /* background 背景 */

  .background {
    height: 100%;
    background: linear-gradient(
      213deg,
      rgba(249, 188, 164, 0.64) 5%,
      rgba(155, 210, 204, 0.64) 35%,
      rgba(251, 204, 159, 0.64) 65%,
      rgba(255, 204, 191, 0.64) 94%
    );
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 1px;
  }

  .circle_1 {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: solid 1px rgba(163, 163, 163, 0.4);
    margin-left: -45px;
    margin-top: -15px;
    position: fixed;
  }

  .circle_2 {
    width: 620px;
    height: 620px;
    border-radius: 50%;
    border: solid 0.4px rgba(163, 163, 163, 0.4);
    margin-left: 980px;
    margin-top: 300px;
    position: fixed;
  }

  .circle_3 {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: solid 0.4px rgba(163, 163, 163, 0.4);
    margin-left: 840px;
    margin-top: 600px;
    position: fixed;
  }

  /* header ヘッダー */
  header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #fff;
    /* 重なり防止 */
    z-index: 3;
  }

  .waffleimage {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
  }

  .nav-link {
    font-size: 25px !important;
  }

  /* 見出し */
  #NEWS,
  #ABOUT,
  #message,
  #timetable,
  #FeaturedContents,
  #voice,
  #FAQ,
  #SPONSOR {
    font-size: 50px;
    display: flex;
    align-items: center;
    /* 垂直中心 */
    justify-content: center;
    /* 水平中心 */

    margin-top: 0%;
  }

  #NEWS::before,
  #ABOUT::before,
  #message::before,
  #timetable::before,
  #FeaturedContents::before,
  #voice::before,
  #FAQ::before,
  #SPONSOR::before {
    border-top: 1px solid;
    content: "";
    width: 3em;
    /* 線の長さ */
    margin-right: 1em;
    /* 文字の右隣 */
  }

  #NEWS::after,
  #ABOUT::after,
  #message::after,
  #timetable::after,
  #FeaturedContents::after,
  #voice::after,
  #FAQ::after,
  #SPONSOR::after {
    border-top: 1px solid;
    content: "";
    width: 3em;
    /* 線の長さ */
    margin-left: 1em;
    /* 文字の右隣 */
  }

  .KV {
    padding-top: 70px;
  }

  .pc {
    display: block !important;
  }
  .sp {
    display: none !important;
  }

  /* fixed_button お申し込みボタン */

  .fixed_btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    /* background: #eb5f6e; */
    background-image: linear-gradient(#f696a0 0%, #eb5f6e 100%);
    z-index: 4;
  }

  .fixed_btn p1 {
    font-size: 19px;
    font-weight: bold;
    color: #fff;
  }

  .fixed_btn p2 {
    color: #fff;
  }

  .fixed_btn:hover {
    background: #f696a0;
  }

  /* コンテンツ（白い枠） */
  .content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
  }

  /* .message_contents {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    font-size: 20px;
  }

  .bold_message {
    font-weight: bold;
    font-size: 20px;
  }

  .imp_message {
    font-weight: bold;
    font-size: 60px;
    margin-top: 50px;
    padding-top: 80px;
    background: linear-gradient(to right, #21ff00 0%, #ffff00 100%);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 150% 20%;
  } */

  .message_contents {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    font-size: 20px;
  }

  .bold_message {
    font-weight: bold;
    font-size: 20px;
  }

  .imp_message {
    font-weight: bold;
    font-size: 60px;
    margin-top: 50px;
    padding-top: 80px;
    background: linear-gradient(to right, #21ff00 0%, #ffff00 100%);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 150% 20%;
  }

  /* news ニュース */
  .slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 58%;
    margin: 0 auto;
  }

  img {
    width: 100%;
    /* 画像をスライドに合わせて調整 */
    height: auto;
  }

  .slider .slick-slide {
    transform: scale(0.8);
    /*左右の画像のサイズを80%に*/
    transition: all 0.5s;
    /*拡大や透過のアニメーションを0.5秒で行う*/
    opacity: 0.5;
    /*透過50%*/
  }

  .slider .slick-slide.slick-center {
    transform: scale(1);
    /*中央の画像のサイズだけ等倍に*/
    opacity: 1;
    /*透過なし*/
  }

  /*矢印の設定*/

  /*戻る、次へ矢印の位置*/
  .slick-prev,
  .slick-next {
    position: absolute;
    /*絶対配置にする*/
    top: 42%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;
    /*矢印の色*/
    border-right: 2px solid #666;
    /*矢印の色*/
    height: 15px;
    width: 15px;
  }

  .slick-prev {
    /*戻る矢印の位置と形状*/
    left: -7.5%;
    transform: rotate(-135deg);
  }

  .slick-next {
    /*次へ矢印の位置と形状*/
    right: -7.5%;
    transform: rotate(45deg);
  }

  /*ドットナビゲーションの設定*/

  .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
  }

  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }

  .slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #a2a1a1;
    /*ドットボタンの色*/
  }

  .slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
  }

  .slider li {
    padding-top: 40px;
  }

  a {
    color: #333;
  }

  a:hover,
  a:active {
    text-decoration: none;
  }

  /* about 概要*/

  .about_content h4 {
    font-size: 45px;
  }

  .day2_contents {
    margin-top: 100px;
  }

  .about_content {
    margin: 40px;
  }

  .about_content h2 {
    margin-top: 50px;
    font-size: 30px;
    text-align: left;
  }

  .about_content hr {
    border: 1.2px solid;
  }
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .date {
    font-size: 20px;
    margin-top: 30px;
  }

  .about_content {
    text-align: left;
    font-size: 20px;
  }

  .about_content li {
    text-align: left;
    list-style-position: inside;
    font-size: 20px;
  }

  .attention ul {
    margin: 0px;
    padding: 0;
  }

  .attention li {
    text-indent: -1.3em;
    padding-left: 1em;
  }

  /* メッセージ */
  #message {
    margin-top: 150px;
  }

  /* timetable タイムテーブル */
  .timetable_contents {
    display: grid;
    grid-gap: 0em 2em;
    margin-top: 50px;
    grid-template-columns: 1fr 7fr 7fr;
  }

  /* .timetable_contents p {
  padding-top: 0px;
} */

  .timetable_section {
    margin: 40px;
  }

  .timetable_day1 {
    border-bottom: solid 1px #333;
    height: 65px;
  }

  .timetable_day2 {
    border-bottom: solid 1px #333;
    height: 65px;
    margin-top: 115px;
  }

  .timetable_day1 h4 {
    float: left;
    font-size: 45px;
  }

  .timetable_day2 h4 {
    float: left;
    font-size: 45px;
  }

  .timetable_day1 p {
    float: right;
    font-size: 20px;
  }

  .timetable_day2 p {
    float: right;
    font-size: 20px;
  }

  .timetable_line {
    border-top: solid rgb(133, 133, 133) 1px;
  }

  .time {
    grid-column: 1;
    font-size: 18px;
  }

  .event_main {
    grid-column: 2;
    background-color: rgb(255 255 255);
  }

  .event_lifork {
    grid-column: 3;
    background-color: rgb(255 255 255);
  }

  /* .event_main p {
  padding: 0px;
}

.event_lifork p {
  padding: 0px;
} */

  /* .event_main h2 {
  padding: 0px;
  font-size: 20px;
}

.event_lifork h2 {
  padding: 0px;
  font-size: 20px;
} */

  .event_main button {
    width: 100%;
    height: 100%;
  }

  .event_lifork button {
    width: 100%;
    height: 100%;
  }

  .event_main button:hover {
    background-color: orange;
    color: white;
    transition-duration: 0.7s;
  }

  .event_lifork button:hover {
    background-color: orange;
    color: white;
    transition-duration: 0.7s;
  }

  /* timetable中身 モダール */
  .modal {
    --bs-modal-width: 900px;
    --bs-modal-padding: 6rem;
  }

  .modal-body ul {
    display: flex;
    list-style: none;
  }

  .modal_description p {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
  }

  .modal-body p {
    text-align: left;
  }

  .speaker {
    font-size: 30px;
  }

  /* featured コンテンツ*/

  .featured_main ul {
    display: flex;
    list-style: none;
  }

  .キャリアトーク {
    margin-top: 40px;
  }

  .ワークショップ {
    margin-top: 60px;
  }

  .featured_sub {
    margin-top: 100px;
  }

  .featured_sub-container {
    display: flex;
    /* コンテナ内の要素を横並びに配置 */
    justify-content: center;

    margin-top: 40px;
    margin-bottom: 40px;
  }

  .featured_sub-container img {
    margin-right: 30px;
    /* 画像間の間隔 */
    max-width: 20%;
    /* 画像の幅を調整 */
    height: auto;
    /* アスペクト比を保つ */
  }

  /* 最後の画像にはマージンを適用しない */
  .featured_sub-container img:last-child {
    margin-right: 0;
  }

  /* voices 参加者の声 */
  .voices h2 {
    font-size: 20px;
  }

  .voices ul {
    display: flex;
    list-style: none;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .voice_msg1,
  .voice_msg3,
  .voice_msg5,
  .voice_msg2,
  .voice_msg4,
  .voice_msg6 {
    width: 90%;
    height: 60%;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    font-size: 17px;
  }

  .voice_msg1:before {
    position: absolute;
    top: 100%;
    right: 50px;
    transform: skew(45deg);
    height: 25px;
    width: 15px;
    border-left: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg2:before {
    position: absolute;
    top: 100%;
    left: 50px;
    transform: skew(-25deg);
    height: 25px;
    width: 15px;
    border-right: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg3:before {
    position: absolute;
    top: 100%;
    right: 50px;
    transform: skew(45deg);
    height: 25px;
    width: 15px;
    border-left: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg4:before {
    position: absolute;
    top: 100%;
    left: 50px;
    transform: skew(-25deg);
    height: 25px;
    width: 15px;
    border-right: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg5:before {
    position: absolute;
    top: 100%;
    right: 50px;
    transform: skew(45deg);
    height: 25px;
    width: 15px;
    border-left: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg6:before {
    position: absolute;
    top: 100%;
    left: 50px;
    transform: skew(-25deg);
    height: 25px;
    width: 15px;
    border-right: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_img1,
  .voice_img3,
  .voice_img5 img {
    width: 165px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .voice_img2,
  .voice_img4,
  .voice_img6 img {
    width: 150px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  /* FAQ 質問 */
  /*==================================================
アコーディオンのためのcss
===================================*/

  /*アコーディオン全体*/
  .accordion-area {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
  }

  .accordion-area li {
    margin: 10px 0;
  }

  .accordion-area section {
    border: 1px solid #ccc;
  }

  /*アコーディオンタイトル*/
  .title {
    position: relative;
    /*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all 0.5s ease;
  }

  /*アイコンの＋と×*/
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #333;
  }

  .title::before {
    top: 48%;
    left: 15px;
    transform: rotate(0deg);
  }

  .title::after {
    top: 48%;
    left: 15px;
    transform: rotate(90deg);
  }

  /*　closeというクラスがついたら形状変化　*/

  .title.close::before {
    transform: rotate(45deg);
  }

  .title.close::after {
    transform: rotate(-45deg);
  }

  /*アコーディオンで現れるエリア*/
  .box {
    display: none;
    /*はじめは非表示*/
    background: #fff;
    margin: 0 3% 3% 3%;
    padding: 3%;
  }

  h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 1rem;
  }

  /* お問い合わせボタン */
  a.ask_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 700px;
    height: 80px;
    margin: auto;
    font-size: 24px;
    padding: 1rem 4rem;
    background: #fff;
    color: black;
    border-radius: 100vh;
    position: relative;
    transition: 0.5s;

    margin-bottom: 150px;
  }

  a.ask_button::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 1em;
    transform: translateY(calc(-50% - 2px)) rotate(45deg);
    width: 10px;
    height: 1px;
    background: #27acd9;
  }

  a.ask_button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    background-color: #27acd9;
  }

  a.ask_button:hover {
    background: #d4eef7;
    color: #27acd9;
  }

  .sponsor_content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
  }

  /* sponser スポンサー */
  .special img {
    margin-top: 25px;
    width: 25%;
    height: auto;
  }

  .gold {
    margin-top: 40px;
  }

  .gold-container {
    display: flex;
    /* Flexbox を使用して要素を縦方向に配置 */
    flex-direction: column;
    /* 要素を縦方向に配置 */
    align-items: center;
  }

  .upper,
  .lower {
    display: flex;
    /* Flexbox を使用して要素を横方向に配置 */
  }

  .upper img {
    margin-right: 20px;
    /* 画像間の隙間を設定 */
  }

  .lower {
    margin-right: 20px;
  }

  .logo_SONY {
    height: 130px;
    width: auto;
  }

  .logo_日本総研 {
    margin-top: 35px;
    height: 70px;
    width: auto;
  }

  .logo_CyberAgent {
    height: 80px;
    width: auto;
  }

  .logo_unity {
    height: 80px;
    width: auto;
    margin-left: 30px;
  }

  .DiamondSponsors {
    margin-top: 40px;
    text-align: center;
    /* テキストを中央揃え */
  }

  .sponsor-content {
    display: inline-block;
    /* テキストと画像を両方とも中央揃えにするために必要 */
  }

  .logo_デロイト {
    height: 100px;
    width: auto;
    align-items: center;
    margin-top: 10px;
  }

  .silver {
    margin-top: 40px;
    text-align: center;
    /* 中央揃え */
  }

  .silver-container {
    display: flex;
    align-items: center;
    /* 子要素を中央揃え */
    justify-content: center;
  }

  .silver-container img {
    margin-right: 40px;
    margin-top: 15px;
  }

  .logo_サイボウズ {
    width: auto;
    height: 80px;
    margin-left: 20px;
  }

  .logo_STORES {
    width: auto;
    height: 80px;
  }

  .supporter {
    margin-top: 40px;
  }

  .supporter-container {
    display: flex;
    align-items: center;
    /* 子要素を中央揃え */
    justify-content: center;
  }

  .supporter-container img {
    margin-right: 20px;
    margin-top: 15px;
  }

  .logo_アドウェイズ {
    height: 100px;
    width: auto;
  }

  .logo_Lenovo {
    height: 50px;
    width: auto;
    margin-top: 100px;
  }

  .sponsor_content p {
    color: #5a544b;
  }

  .sponsor_content h2 {
    font-weight: bold;
    font-size: 30px;
    color: #5a544b;
  }

  .sponsor_content hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border: 1.2px solid;
  }

  /* footer フッター */

  footer {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #fff;
    background-attachment: scroll;
    /* 重なり防止 */
  }

  .footer_ {
    float: left;
    margin-top: 20px;
  }

  .footer_ li {
    display: inline-block;
    list-style: none;
    margin-top: 20px;
    margin-left: 80px;
    font-size: 15px;
  }

  .sns {
    float: right;
    padding-right: 220px;
    margin-top: 20px;
  }

  .sns a {
    cursor: pointer;
  }

  .sns img {
    width: 50px;
  }

  .sns li {
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
    padding-left: 10px;
  }
}

/* スマホ対応 */
@media screen and (max-width: 767px) {
  html {
    height: 100%;
  }

  body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: #333;
  }

  /* background 背景 */

  .background {
    height: 100%;
    background: linear-gradient(
      213deg,
      rgba(249, 188, 164, 0.64) 5%,
      rgba(155, 210, 204, 0.64) 35%,
      rgba(251, 204, 159, 0.64) 65%,
      rgba(255, 204, 191, 0.64) 94%
    );
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 1px;
  }

  .circle_1 {
    width: 370px;
    height: 370px;
    border-radius: 50%;
    border: solid 1px rgba(163, 163, 163, 0.4);
    margin-left: -45px;
    margin-top: -15px;
    position: fixed;
  }

  .circle_2 {
    width: 620px;
    height: 620px;
    border-radius: 50%;
    border: solid 0.4px rgba(163, 163, 163, 0.4);
    margin-left: 980px;
    margin-top: 300px;
    position: fixed;
  }

  .circle_3 {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    border: solid 0.4px rgba(163, 163, 163, 0.4);
    margin-left: 840px;
    margin-top: 600px;
    position: fixed;
  }

  /* header ヘッダー */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* 重なり防止 */
    z-index: 3;
  }

  .waffleimage {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    width: 40%;
  }

  .navbar-toggler {
    margin-left: auto;
    background-color: white;
    margin-top: 10px;
    margin-right: 10px;
  }

  /* 見出し */
  #NEWS,
  #ABOUT,
  #message,
  #timetable,
  #FeaturedContents,
  #voice,
  #FAQ,
  #SPONSOR {
    font-size: 20px;
    display: flex;
    align-items: center;
    /* 垂直中心 */
    justify-content: center;
    /* 水平中心 */
    margin-bottom: 30px;
    margin-top: 0%;
  }

  #NEWS::before,
  #ABOUT::before,
  #message::before,
  #timetable::before,
  #FeaturedContents::before,
  #voice::before,
  #FAQ::before,
  #SPONSOR::before {
    border-top: 1px solid;
    content: "";
    width: 3em;
    /* 線の長さ */
    margin-right: 1em;
    /* 文字の右隣 */
  }

  #NEWS::after,
  #ABOUT::after,
  #message::after,
  #timetable::after,
  #FeaturedContents::after,
  #voice::after,
  #FAQ::after,
  #SPONSOR::after {
    border-top: 1px solid;
    content: "";
    width: 3em;
    /* 線の長さ */
    margin-left: 1em;
    /* 文字の右隣 */
  }

  .KV {
    padding-top: 70px;
  }

  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }

  /* fixed_button お申し込みボタン */

  .fixed_btn {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    /* background: #eb5f6e; */
    background-image: linear-gradient(#f696a0 0%, #eb5f6e 100%);
    z-index: 4;
  }

  .fixed_btn p1 {
    padding-top: 5px;
    font-size: 9px;
    font-weight: bold;
    color: #fff;
  }

  .fixed_btn p2 {
    color: #fff;
    font-size: 8px;
  }

  .fixed_btn:hover {
    background: #f696a0;
  }

  /* コンテンツ（白い枠） */
  .content {
    padding-top: 5px;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    width: 80%; /* 要素の幅を設定 */
    margin: 0 auto; /* 水平方向に中央に配置 */
    margin-bottom: 80px;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.4);
  }

  .message_contents {
    padding-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    font-size: 10px;
    width: 80%;
  }

  .bold_message {
    font-weight: bold;
    font-size: 10px;
  }

  .imp_message {
    font-weight: bold;
    font-size: 27px;
    margin-top: 50px;
    padding-top: 80px;
    background: linear-gradient(to right, #21ff00 0%, #ffff00 100%);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 150% 20%;
  }

  /* news ニュース */
  .slider {
    /*横幅94%で左右に余白を持たせて中央寄せ*/
    width: 70%;
    margin: 0 auto;
  }

  img {
    width: 100%;
    /* 画像をスライドに合わせて調整 */
    height: auto;
  }

  .slider .slick-slide {
    transform: scale(0.8);
    /*左右の画像のサイズを80%に*/
    transition: all 0.5s;
    /*拡大や透過のアニメーションを0.5秒で行う*/
    opacity: 0.5;
    /*透過50%*/
  }

  .slider .slick-slide.slick-center {
    transform: scale(1);
    /*中央の画像のサイズだけ等倍に*/
    opacity: 1;
    /*透過なし*/
  }

  .slider {
    margin-top: 50px;
    width: 80%; /* 必要に応じて幅を調整 */
  }

  /* スライド要素を中央に配置 */
  .slider li {
    text-align: center;
    padding-right: 20px;
  }

  /*矢印の設定*/

  /*戻る、次へ矢印の位置*/
  .slick-prev,
  .slick-next {
    position: absolute;
    /*絶対配置にする*/
    top: 22%;
    cursor: pointer;
    /*マウスカーソルを指マークに*/
    outline: none;
    /*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;
    /*矢印の色*/
    border-right: 2px solid #666;
    /*矢印の色*/
    height: 15px;
    width: 15px;
  }

  .slick-prev {
    /*戻る矢印の位置と形状*/
    left: -7.5%;
    transform: rotate(-135deg);
  }

  .slick-next {
    /*次へ矢印の位置と形状*/
    right: -7.5%;
    transform: rotate(45deg);
  }

  /*ドットナビゲーションの設定*/

  .slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
    padding-left: 0px;
  }

  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }

  .slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    /*ドットボタンのサイズ*/
    height: 8px;
    /*ドットボタンのサイズ*/
    display: block;
    border-radius: 50%;
    background: #a2a1a1;
    /*ドットボタンの色*/
  }

  .slick-dots .slick-active button {
    background: #333;
    /*ドットボタンの現在地表示の色*/
  }

  .data {
    padding-top: 40px;
  }

  a {
    color: #333;
  }

  a:hover,
  a:active {
    text-decoration: none;
  }

  /* about 概要*/
  .about_title {
    border-bottom: solid 1px #333;
    height: 25px;
  }

  .about_title h4 {
    float: left;
    font-size: 15px;
  }

  .about_title p {
    float: right;
  }

  .about_content {
    margin: 40px;
  }

  .about_content h2 {
    text-align: left;
    font-size: 8px;
    font-weight: bold;
  }

  .about_content p {
    font-size: 6px;
  }

  .about_content li {
    text-align: left;
    list-style-position: inside;
    font-size: 10px;
  }

  .attention li {
    text-indent: -1.3em;
    padding-left: 15px;
  }

  .title-container {
    display: flex; /* 要素を横並びにする */
    align-items: center; /* 項目を垂直方向に中央揃えする */
    justify-content: space-between; /* 要素を水平方向に等間隔で配置する */
  }

  .title-container h4 {
    margin-bottom: 0px;
  }

  .date {
    margin-top: 13px;
    margin-bottom: 2px;
  }

  .day1_contents hr {
    margin-top: 2px;
    margin-bottom: 5px;
  }

  .day2_contents hr {
    margin-top: 2px;
    margin-bottom: 5px;
  }

  /* メッセージ */
  #message {
    margin-top: 100px;
  }

  .attention {
    padding-left: 0px !important;
  }

  ul {
    margin: 0px;
    padding: 0;
  }

  /* timetable タイムテーブル */
  .timetable_contents {
    display: grid;
    grid-gap: 0em 2em;
    margin-top: 50px;
    grid-template-columns: 1fr 7fr 7fr;
  }

  /* .timetable_contents p {
  padding-top: 0px;
} */

  .timetable_section {
    margin: 40px;
  }

  .timetable_day1 {
    border-bottom: solid 1px #333;
    height: 30px;
  }

  .timetable_day2 {
    border-bottom: solid 1px #333;
    height: 30px;
    margin-top: 35px;
  }

  .timetable_day1 h4 {
    float: left;
    font-size: 20px;
  }

  .timetable_day2 h4 {
    float: left;
    font-size: 20px;
  }

  .timetable_day1 p {
    float: right;
    font-size: 10px;
  }

  .timetable_day2 p {
    float: right;
    font-size: 10px;
  }

  .timetable_line {
    border-top: solid rgb(133, 133, 133) 1px;
  }

  .time {
    grid-column: 1;
    font-size: 8px;
  }

  .event_main {
    grid-column: 2;
    background-color: rgb(255 255 255);
  }

  .event_lifork {
    grid-column: 3;
    background-color: rgb(255 255 255);
  }

  .event_main p {
    font-size: 8px;
  }

  .event_lifork p {
    font-size: 8px;
  }

  .event_main h2 {
    padding: 0px;
    font-size: 8px;
  }

  .event_lifork h2 {
    padding: 0px;
    font-size: 8px;
  }

  .event_main button {
    width: 100%;
    height: 100%;
  }

  .event_lifork button {
    width: 100%;
    height: 100%;
  }

  .event_main button:hover {
    background-color: orange;
    color: white;
    transition-duration: 0.7s;
  }

  .event_lifork button:hover {
    background-color: orange;
    color: white;
    transition-duration: 0.7s;
  }

  /* timetable中身 モダール */
  .modal {
    --bs-modal-width: 900px;
    --bs-modal-padding: 6rem;
  }

  .modal-body ul {
    display: flex;
    list-style: none;
  }

  .modal_description p {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
  }

  .modal-body p {
    text-align: left;
  }

  .speaker {
    font-size: 20px;
  }

  /* featured コンテンツ*/

  .featured_main {
    padding-top: 25px;
  }

  .featured_main ul {
    display: flex;
    list-style: none;
    padding-left: 0px;
  }

  .career_talk {
    padding: 0px 10px;
  }

  .career_talk h4 {
    font-size: 15px;
  }

  .career_talk p {
    font-size: 8px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .work_shop {
    padding: 0px 10px;
  }

  .featured_main img {
    padding-top: 20px;
  }

  .featured_sub {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .featured_sub h4 {
    font-size: 15px;
  }

  .featured_sub-container {
    display: flex;
    /* コンテナ内の要素を横並びに配置 */
    justify-content: center;

    margin-top: 40px;
    margin-bottom: 40px;
  }

  .featured_sub-container img {
    margin-right: 30px;
    /* 画像間の間隔 */
    max-width: 20%;
    /* 画像の幅を調整 */
    height: auto;
    /* アスペクト比を保つ */
  }

  /* 最後の画像にはマージンを適用しない */
  .featured_sub-container img:last-child {
    margin-right: 0;
  }

  /* voices 参加者の声 */
  .voices h2 {
    font-size: 20px;
  }

  .voices ul {
    display: flex;
    list-style: none;
    height: auto;
    width: 90%;
  }

  .voice_msg1,
  .voice_msg3,
  .voice_msg5,
  .voice_msg2,
  .voice_msg4,
  .voice_msg6 {
    width: 90%;
    height: 60%;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    font-size: 6px;
  }

  .voice_msg1:before {
    position: absolute;
    top: 100%;
    right: 50px;
    transform: skew(45deg);
    height: 25px;
    width: 15px;
    border-left: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg2:before {
    position: absolute;
    top: 100%;
    left: 50px;
    transform: skew(-25deg);
    height: 25px;
    width: 15px;
    border-right: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg3:before {
    position: absolute;
    top: 100%;
    right: 50px;
    transform: skew(45deg);
    height: 25px;
    width: 15px;
    border-left: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg4:before {
    position: absolute;
    top: 100%;
    left: 50px;
    transform: skew(-25deg);
    height: 25px;
    width: 15px;
    border-right: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg5:before {
    position: absolute;
    top: 100%;
    right: 50px;
    transform: skew(45deg);
    height: 25px;
    width: 15px;
    border-left: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_msg6:before {
    position: absolute;
    top: 100%;
    left: 50px;
    transform: skew(-25deg);
    height: 25px;
    width: 15px;
    border-right: 3px solid #333;
    background-color: #fff;
    content: "";
  }

  .voice_img1,
  .voice_img3,
  .voice_img5 img {
    width: 100px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .voice_img2,
  .voice_img4,
  .voice_img6 img {
    width: 100px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  /* FAQ 質問 */
  /*==================================================
アコーディオンのためのcss
===================================*/

  /*アコーディオン全体*/
  .accordion-area {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
  }

  .accordion-area li {
    margin: 10px 0;
  }

  .accordion-area section {
    border: 1px solid #ccc;
  }

  /*アコーディオンタイトル*/
  .title {
    position: relative;
    /*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size: 10px;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all 0.5s ease;
  }

  /*アイコンの＋と×*/
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    background-color: #333;
  }

  .title::before {
    top: 48%;
    left: 15px;
    transform: rotate(0deg);
  }

  .title::after {
    top: 48%;
    left: 15px;
    transform: rotate(90deg);
  }

  /*　closeというクラスがついたら形状変化　*/

  .title.close::before {
    transform: rotate(45deg);
  }

  .title.close::after {
    transform: rotate(-45deg);
  }

  /*アコーディオンで現れるエリア*/
  .box {
    display: none;
    /*はじめは非表示*/
    background: #fff;
    margin: 0 3% 3% 3%;
    padding: 3%;
  }

  h2 {
    text-align: center;
    margin: 30px 0;
    font-size: 1rem;
  }

  /* お問い合わせボタン */
  a.ask_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 80%;
    height: 60px;
    margin: auto;
    font-size: 15px;
    padding: 1rem 4rem;
    background: #fff;
    color: black;
    border-radius: 100vh;
    position: relative;
    transition: 0.5s;
    margin-bottom: 70px;
  }

  a.ask_button::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 1em;
    transform: translateY(calc(-50% - 2px)) rotate(45deg);
    width: 10px;
    height: 1px;
    background: #27acd9;
  }

  a.ask_button::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1em;
    transform: translateY(-50%);
    width: 50px;
    height: 1px;
    background-color: #27acd9;
  }

  a.ask_button:hover {
    background: #d4eef7;
    color: #27acd9;
  }

  .sponsor_content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
  }

  /* sponser スポンサー */
  .special img {
    margin-top: 25px;
    width: 60%;
    height: auto;
  }

  .gold {
    margin-top: 40px;
  }

  .gold-container {
    display: flex;
    /* Flexbox を使用して要素を縦方向に配置 */
    flex-direction: column;
    /* 要素を縦方向に配置 */
    align-items: center;
  }

  .upper,
  .lower {
    display: flex;
    /* Flexbox を使用して要素を横方向に配置 */
  }

  .upper img {
    margin-right: 10px;
    /* 画像間の隙間を設定 */
  }

  .lower {
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .logo_SONY {
    height: 50px;
    width: auto;
    padding-left: 5px;
    padding-top: 5px;
  }

  .logo_日本総研 {
    margin-top: 15px;
    height: 30px;
    width: auto;
  }

  .logo_CyberAgent {
    height: 33px;
    width: auto;
  }

  .logo_unity {
    height: 35px;
    width: auto;
    margin-left: 20px;
  }

  .DiamondSponsors {
    margin-top: 40px;
    text-align: center;
    /* テキストを中央揃え */
  }

  .sponsor-content {
    display: inline-block;
    /* テキストと画像を両方とも中央揃えにするために必要 */
  }

  .logo_デロイト {
    height: 40px;
    width: auto;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .silver {
    margin-top: 40px;
    text-align: center;
    /* 中央揃え */
  }

  .silver-container {
    display: flex;
    align-items: center;
    /* 子要素を中央揃え */
    justify-content: center;
    margin-bottom: 20px;
  }

  .silver-container img {
    margin-right: 40px;
    margin-top: 15px;
  }

  .logo_サイボウズ {
    width: auto;
    height: 40px;
    margin-left: 20px;
  }

  .logo_STORES {
    width: auto;
    height: 30px;
    margin-left: 25px;
  }

  .supporter {
    margin-top: 40px;
  }

  .supporter-container {
    display: flex;
    align-items: center;
    /* 子要素を中央揃え */
    justify-content: center;
  }

  .supporter-container img {
    margin-right: 20px;
    margin-top: 15px;
  }

  .logo_アドウェイズ {
    height: 30px;
    width: auto;
  }

  .logo_Lenovo {
    height: 20px;
    width: auto;
    margin-top: 100px;
  }

  .sponsor_content p {
    padding: 25px 15px;
    font-size: 10px;
    color: #5a544b;
  }

  .sponsor_content h2 {
    font-weight: bold;
    font-size: 20px;
    color: #5a544b;
  }

  .sponsor_content hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    border: 1.2px solid;
  }

  /* footer フッター */

  footer {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #fff;
    background-attachment: scroll;
    /* 重なり防止 */
  }

  .footer_ {
    float: left;
    padding-left: 5px;
  }

  .footer_ li {
    display: inline-block;
    list-style: none;
    margin-top: 10px;
    font-size: 4.5px;
  }

  .sns {
    float: right;
    margin-top: 2px;
    margin-right: 5px;
  }

  .sns a {
    cursor: pointer;
  }

  .sns img {
    width: 15px;
  }

  .sns li {
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
    padding-left: 10px;
  }
}
